{% extends "base.html" %}

{% block main %}
<h2>Member Information Edit Page</h2>
<form method="post">
    {% csrf_token %}
    <p>
        <label for="{{ form.username.id_for_label }}">username</label>
        {{ form.username }}
    </p>
    <p>
        <label for="{{ form.email.id_for_label }}">Email address</label>
        {{ form.email }}
    </p>
    <p>
        <label for="{{ form.age.id_for_label }}">age</label>
        {{ form.age }}
    </p>
    <button type="submit">Update</button>
</form>
<a href="{% url 'tasks:index' %}">Return</a>
<a href="{% url 'tasks:account_delete' %}">withdrawal from a group</a>
{% endblock %}