{% load static %}

<html>

<head>
  <meta charset="utf-8">
  <title>Task</title>
  <link rel="stylesheet" href="{% static 'tasks/css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'tasks/css/style.css' %}">
</head>

<body>
  <nav>
    <ul>
      <li><a href="{% url 'tasks:index' %}">Task list</a></li>
      {% if user.is_authenticated %}
      <li><a href="{% url 'tasks:account_detail' %}">Member Information</a></li>
      <li><a href="{% url 'tasks:logout' %}">Log out</a></li>
      {% else %}
      <li><a href="{% url 'tasks:signup' %}">Member Registration</a></li>
      <li><a href="{% url 'tasks:login' %}">Login</a></li>
      {% endif %}
    </ul>
  </nav>
  <main>
    <div>
      {% block main %}
      {% endblock %}
    </div>
  </main>
</body>

</html>